/*-----CONTAINER STYLING (MAIN DIVS/SECTIONS OF PAGE)-----*/
* {
    /* border: 1px solid red; */
}
.home-container, .music-container, .club-container, .contact-container {
    height: 1080px;
    width: auto;
    background-image: url("/continuum-tower.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.home-container {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.07);
}
.home-container-b {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1920px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.music-container {
    background-image: none;
    background-color: white;
}
.club-container {
    background-image: url("/miami-beach-lifeguard-tower-final.png");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.07);
}
.contact-container {
    background-image: url("/saltwater.png");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
/*-----WRAPPER STYLING (DIVS USED TO ALIGN/FORMAT CONTENT WITHIN CONTAINERS)-----*/
.home-navbar-wrapper, .music-navbar-wrapper, .club-navbar-wrapper, .contact-navbar-wrapper {
    height: 20%;
	width: auto;
	display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px;
    padding: 0px;
}
.music-description-wrapper, .club-content-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.club-content-outer-wrapper, .contact-content-outer-wrapper {
    height: 75%;
    width: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}
.club-content-inner-wrapper, .contact-content-inner-wrapper  {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15%;
}
.contact-content-second-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15%;
    margin-left: 10%;
}
/*-----IMAGES STYLING-----*/
#logo {
    height: 125px;
    width: 125px;
    margin-left: 50px;
    margin-top: 20px;
}
.navbar, .music-navbar, .club-navbar, .contact-navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 40%;
  }
.music-navbar, .club-navbar, .contact-navbar {
    grid-column-start: 2;
    grid-column-end: 3;
}
.nav-link, .music-nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 50px 0px;
    margin: 0px 50px;
    display: inline-block;
    position: relative;
    opacity: 0.90;
  }
.music-nav-link {
    color: #2B6271;
}
.nav-link:hover, .music-nav-link:hover {
    opacity: 1;
  }
.nav-link::before, .music-nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: white;
  }
.music-nav-link::before {
    background-color: #2B6271;
}
.nav-link-ltr::before, .music-nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
.nav-link-ltr:hover::before, .music-nav-link-ltr:hover::before {
    width: 100%;
  }
.home-description {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    position: relative;
    margin-left: 3%;
    margin-top: 20%;
}

.music-description, .club-description, .contact-description {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    transform: translateY(300px);
    margin-left: 100px;
    margin-top: 0;
    width: 40%;
}
.music-description {
    background:url('/saltwater.png') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 500%;
    color: #2B6271;
    transform: none;
    margin-left: 0px;
    width: 75%;
}
.music-title {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2000%;
    font-weight: 700;
    margin-bottom: 5%;
    line-height: 100%;
    background:url('/saltwater.png') ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position-x: 0px;
    background-position-y: 0px;
    background-attachment: fixed;
}
.club-description, .contact-description {
    transform: none;
    margin-left: 0px;
    text-align: right;
    width: 100%;
    font-size: 35px;
}
.club-title, .contact-title {
    color: white;
    font-size: 100px;
    font-family: 'Roboto Mono', monospace;
    word-spacing: -0.25em;
}
.club-textbox, .clubSubmit, .contact-name-textbox, .contact-email-textbox, .contact-message-textarea {
    width: 55%;
    max-width: 30rem;
    height: 7%;
    border: none;
    border-radius: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #2B6271;
    text-indent: 1rem;
}
.club-textbox {
    size: 20;
}
.contact-email-textbox {
    margin-top: 1.5em;
}
.contact-message-textarea {
    width: auto;
    height: auto;
    margin-top: 1.5em;
    resize: none;
    padding: 20px;
    text-indent: 0;
    box-sizing: border-box;
}
.emailSubmit, .contactSubmit {
    margin-top: 1.5em;
    text-indent: 0rem;
    border-radius: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #2B6271;
    width: 15%;
    max-width: 7rem;
    height: 7%;
    transition: 0.5s;
    border: 2px solid white;
}
.emailSubmit:hover, .contactSubmit:hover {
    border: 2px solid white;
    color: white;
    background: #2B6271;
    transition: 0.5s;
}
